

<div class="row">
  
  <div class="col-md-12">
        <div class="card">
            <div class="card-body">




                  
                
               <button type="button" class="btn btn-primary" (click)="open(content)">Nouveau medecin</button>
                <div class="row">
                    <div class="col-md-12">


                        
                        
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive" >
                         
                            <table id="table" class="table table-centered table-hover m-1"   >
                              <thead>
                                <tr>
                                   
                                    <th scope="col">Nom et prénom</th>
                                    <th scope="col">Spécialité</th>
                                    <th scope="col">Mobile</th>
                                    <th scope="col">Secteur IMS</th>
                                    <th scope="col">Adresse</th>
                                    <th scope="col">Potentiel</th>
                                     <th scope="col">action</th>
                                  
                                  </tr>
                              </thead>
                              <tbody
                                infinite-scroll
                                [infiniteScrollDistance]="scrollDistance"
                                [infiniteScrollUpDistance]="scrollUpDistance"
                                [infiniteScrollThrottle]="throttle"
                                (scrolled)="addItems()">
                              
                                <tr *ngFor="let medecin of dataArrayPage ; let i = index">
                                    
                                    <td><span class="client-name">Dr.{{medecin.nom}} {{medecin.prenom}}</span></td>
                                    <td>{{medecin.specialite.nom}}</td>
                                    <td>{{medecin.mobile}}</td>
                                    <td>{{medecin.secteur.nom}} {{medecin.secteur.ville.nom}}</td>
                                    <td>
                                        {{medecin.adresse}}
                                    </td>
                                    <td>
                                        <div [ngClass]="getClassPotentiel(medecin.potentiel)">
                                            <div class="potentiel-content potentiel-color">
                                                <i class="fa fa-bullseye"></i>
                                                <span class="potentiel-text">{{medecin.potentiel}}</span>
                                            </div>
                                        </div>
                                    </td>

                                    

                                    

                                    <td>

                                        <button type="button"  class="fa fa-edit"   style="background-color:#EDF1FB  ;"   (click)="openup(medecin ,modifier)"></button>
                                        <button type="button"  class="btn btn-primary"  class="fa fa-trash" style="background-color:#EDF1FB ;"   (click)="opensup(supprimer)"> </button>
                                    </td>
    

                                </tr>
                              </tbody>

                          
                            </table>
                            
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div><!--/.col-->



    <ng-template #content let-modal>
      <div class="modal-header"   style="background-color:rgb(80, 19, 248);">
        <h4 class="modal-title" id="modal-basic-title"  style="color:white"  >Ajouter medecin</h4>
        
      </div>
      <div class="modal-body">
        <form [formGroup]="formMedecin" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label > <strong>  Nom et prénom </strong></label>
            <input type="text" class="form-control"     formControlName="nom">
          </div>

          
        <br>
        <div class="form-group">
          <label><strong>Spécialité</strong></label>
          <select class="form-control"   formControlName="specialite">
            <option value="">liste de choix</option>
        
              <option value="General Medicine">General Medicine</option>
              <option value="Pharmacy">Pharmacy</option>
              <option value="Gynaecology">Gynaecology</option>
              <option value="Otorhinolaryngology">Otorhinolaryngology</option>
              <option value="Rheumatology">Rheumatology</option>
              <option value="Psychiatry">Psychiatry</option>
              <option value="Radiology">Radiology</option>
              <option value="Ophthalmology">Ophthalmology</option>
              <option value="Cardiology">Cardiology</option>
              <option value="Neurology">Neurology</option>
              <option value="Dermatology">Dermatology</option>
              <option value="Nephrology">Nephrology</option>
              <option value="Oncology">Oncology</option>
              <option value="Hospital Pharmacy">Hospital Pharmacy</option>
              <option value="Physical Medicine & Rehabilitation">Physical Medicine & Rehabilitation</option>
              <option value="Sage-Femme">Sage-Femme</option>
              <option value="Dental Surgery">Dental Surgery</option>
          </select>
        </div>
        
        <br>
        <div class="form-group">
          <label><strong>Mobile</strong></label>
          <br>
          <input type="text"  class="form-control"    formControlName="mobile">
        </div>
        
        
        <br>  <div class="form-group">
          <label><strong>Secteur IMS</strong></label>
          <select class="form-control" formControlName="secteur">
              <option value="Agdal/Riad">Agdal/Riad</option>
              <option value="Hassan">Hassan</option>
              <option value="El-Youssoufia">El-Youssoufia</option>
              <option value="Yacoub El Mansour">Yacoub El Mansour</option>
              <option value="Souissi">Souissi</option>
          </select>
        </div>
          
        <br>
        <div class="form-group">
          <label><strong>Adresse</strong> </label>
          <br>
          <input type="text" class="form-control" formControlName="adresse">
        </div>
        <br>
        
        
        <div class="form-group">
          <label><strong>Potentiel</strong></label>
          <select class="form-control" formControlName="potentiel">
              <option value="A+">A+</option>
              <option value="A">A</option>
              <option value="B+">B+</option>
              <option value="B">B</option>
              <option value="C+">C+</option>
              <option value="C">C</option>
          </select>
        </div>
        <br>
       
       
        <br>
          <button  class="btn btn-primary" (click)="add();modal.close('Save click')">Enregistrer</button>
        
          <button class="btn btn-primary" (click)="modal.close('Save click')">Fermer</button>
        
         
            
        
        </form>
      </div>


      <div class="modal-footer">
       Thinline
      </div>
    </ng-template>
    
    
   




    <ng-template #supprimer let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"></h4>
        
      </div>
      <div class="modal-body">
        <p>Êtes-vous sûr de vouloir supprimer ce medecin ?</p>
      </div>
      <div class="modal-footer">
        <button type="button"   class="btn btn-primary" (click)= "deleteFieldValue(index); d('Cross click')">oui</button>
        <button type="button" class="btn btn-primary"  (click)= "d('Cross click')">non</button>
      </div>
    </ng-template>
    
   


    



    <ng-template #modifier let-c="close" let-d="dismiss" let-a="medecin">
      <div class="modal-header"   style="background-color:rgb(80, 19, 248);">
        <h4 class="modal-title" id="modal-basic-title  " style="color:white"   >modifier medecin  </h4>
        
      </div>
      <div class="modal-body">
         


        <form [formGroup]="formupdate" (ngSubmit)="onSubmit()">
          <div class="form-group">
          <label>
            <strong>  Nom et prénom </strong></label> <br>
            <input type="text" class="form-control" formControlName="nom" >
         </div>
        
         
        <br>

        <div class="form-group">
          <label><strong>Spécialité</strong></label>
          <select class="form-control"   formControlName="specialite">
            <option value="">liste de choix</option>
        
              <option value="General Medicine">General Medicine</option>
              <option value="Pharmacy">Pharmacy</option>
              <option value="Gynaecology">Gynaecology</option>
              <option value="Otorhinolaryngology">Otorhinolaryngology</option>
              <option value="Rheumatology">Rheumatology</option>
              <option value="Psychiatry">Psychiatry</option>
              <option value="Radiology">Radiology</option>
              <option value="Ophthalmology">Ophthalmology</option>
              <option value="Cardiology">Cardiology</option>
              <option value="Neurology">Neurology</option>
              <option value="Dermatology">Dermatology</option>
              <option value="Nephrology">Nephrology</option>
              <option value="Oncology">Oncology</option>
              <option value="Hospital Pharmacy">Hospital Pharmacy</option>
              <option value="Physical Medicine & Rehabilitation">Physical Medicine & Rehabilitation</option>
              <option value="Sage-Femme">Sage-Femme</option>
              <option value="Dental Surgery">Dental Surgery</option>
          </select>
        </div>
        
        <br>
        <div class="form-group">
          <label><strong>Mobile</strong></label>
          <br>
          <input type="text" class="form-control" formControlName="mobile">
        </div>
        
        
        <br>
        <div class="form-group">
          <label><strong>Secteur IMS</strong></label>
          <select class="form-control" formControlName="secteur">
              <option value="Agdal/Riad">Agdal/Riad</option>
              <option value="Hassan">Hassan</option>
              <option value="El-Youssoufia">El-Youssoufia</option>
              <option value="Yacoub El Mansour">Yacoub El Mansour</option>
              <option value="Souissi">Souissi</option>
          </select>
        </div>
        
          
        <br>
        <div class="form-group">
          <label><strong>Adresse</strong> </label>
          <br>
          <input type="text" class="form-control" formControlName="adresse">
        </div>
        <br>
        
        
        <div class="form-group">
          <label><strong>Potentiel</strong></label>
          <select class="form-control" formControlName="potentiel">
              <option value="A+">A+</option>
              <option value="A">A</option>
              <option value="B+">B+</option>
              <option value="B">B</option>
              <option value="C+">C+</option>
              <option value="C">C</option>
          </select>
        </div>
        <br>
        <br>
          <button  class="btn btn-primary" (click)="updateItem(medecin) ;d('Cross click')">enregistrer</button>
        
          <button class="btn btn-primary" (click)= "d('Cross click')">fermer</button>
  
          
        
        </form>


      </div>
      <div class="modal-footer">
        Thinline
      </div>
    </ng-template>
    