<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Spécialité</label>
                                    <select class="form-control">
                                        <option value="cardiologie">Cardiologie</option>
                                        <option value="gynécologie">Gynécologie</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Type établissement</label>
                                    <select class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Potentiel</label>
                                    <select class="form-control">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Semaine</label>
                                    <select class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Ville</label>
                                    <select class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Secteur IMS</label>
                                    <select class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Couverture</label>
                                    <select class="form-control">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group float-right">
                                    <button class="btn btn-primary mr-2" type="button">
                                        Réinitialiser
                                    </button>
                                    <button class="btn btn-primary" type="button">
                                        Filtrer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.col-->
</div><!--/.row-->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row table-responsive mr-0">
                    <table id="table" class="table table-centered table-hover mb-0">
                      <thead>
                      <tr>
                        <th scope="col">Nom et prénom</th>
                        <th scope="col">Spécialité</th>
                        <th scope="col">Etablissement</th>
                        <th scope="col">Secteur IMS</th>
                        <th scope="col">Semaine</th>
                        <th scope="col">Potentiel</th>
                      </tr>
                      </thead>
                      <tbody>
                        <!--tr *ngIf="medecinsArrayPage.length === 0">
                            <td colspan="7">
                            <span class="d-flex justify-content-center">Aucune medecins disponible</span>
                            </td>
                        </tr-->
                        <tr>
                            <td>Dr. Ahmed RACHIDI</td>
                            <td>Gynécologie</td>
                            <td>Polyclinique Rabat</td>
                            <td>Agdal / Riad</td>
                            <td>
                                <img src="assets/img/icons/calendar.png"> 
                                <strong>S1</strong>
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td>Dr. Ahmed RACHIDI</td>
                            <td>Gynécologie</td>
                            <td>Polyclinique Rabat</td>
                            <td>Agdal / Riad</td>
                            <td>
                                <img src="assets/img/icons/calendar.png"> 
                                <strong>S1</strong>
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td>Dr. Ahmed RACHIDI</td>
                            <td>Gynécologie</td>
                            <td>Polyclinique Rabat</td>
                            <td>Agdal / Riad</td>
                            <td>
                                <img src="assets/img/icons/calendar.png"> 
                                <strong>S1</strong>
                            </td>
                            <td>

                            </td>
                        </tr>
                      </tbody>
                    </table>
                    <!--div class="d-flex justify-content-between p-2" [formGroup]="paginationForm">
                      <ngb-pagination
                        [collectionSize]="medecinCollectionSize"
                        [(page)]="medecinPage"
                        [pageSize]="pageSize"
                        (pageChange)="refreshmedecins()">
                      </ngb-pagination>
                      <select class="custom-select" style="width: auto" formControlName="pageSize" (change)="refreshmedecins()">
                        <option [ngValue]="2">2 résultats par page</option>
                        <option [ngValue]="4">4 résultats par page</option>
                        <option [ngValue]="6">6 résultats par page</option>
                      </select>
                    </div-->
                  </div>
            </div>
        </div>
    </div><!--/.col-->
</div><!--/.row-->