


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">


               <button type="button" class="btn btn-primary" routerLink="/add">Nouveau medecin</button>
                <div class="row">
                    <div class="col-md-12">


                        
                        
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive" >
                            <!--Vue mode liste-->
                            <table id="table" class="table table-centered table-hover m-1"   >
                              <thead>
                                <tr>
                                   
                                    <th scope="col">Nom et prénom</th>
                                    <th scope="col">Spécialité</th>
                                    <th scope="col">Mobile</th>
                                    <th scope="col">Secteur IMS</th>
                                    <th scope="col">Adresse</th>
                                    <th scope="col">Potentiel</th>
                                     <th scope="col">action</th>
                                  
                                  </tr>
                              </thead>
                              <tbody
                                infinite-scroll
                                [infiniteScrollDistance]="scrollDistance"
                                [infiniteScrollUpDistance]="scrollUpDistance"
                                [infiniteScrollThrottle]="throttle"
                                (scrolled)="addItems()">
                              
                                <tr *ngFor="let medecin of dataArrayPage">
                                    
                                    <td><span class="client-name">Dr.{{medecin.nom}} {{medecin.prenom}}</span></td>
                                    <td>{{medecin.specialite.nom}}</td>
                                    <td>{{medecin.mobile}}</td>
                                    <td>{{medecin.secteur.nom}} {{medecin.secteur.ville.nom}}</td>
                                    <td>
                                        {{medecin.adresse}}
                                    </td>
                                    <td>
                                        <div [ngClass]="getClassPotentiel(medecin.potentiel)">
                                            <div class="potentiel-content potentiel-color">
                                                <i class="fa fa-bullseye"></i>
                                                <span class="potentiel-text">{{medecin.potentiel}}</span>
                                            </div>
                                        </div>
                                    </td>

                                    

                                    

                                    <td>

                                        <button type="button"                   class="fa fa-edit" routerLink="/update/id{{medecin.id}}"></button>
                                        <button type="button"  class="btn btn-primary"  class="fa fa-trash" (click)="delete(medecin.id,i)" > </button>
                                    </td>
    

                                </tr>
                              </tbody>


                            </table>
                            
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.col-->