<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form [formGroup]="loginForm">
                  <div class="d-flex justify-content-between p-2">
                    <img class="logo-login" src="../../../assets/img/brand/logo.png"/>
                  </div>
                  <p class="center-text text-muted">Veuillez vous connecter avec vos informations personnelles.</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Adresse Email *" autocomplete="username" formControlName="username" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Mot de passe *" autocomplete="current-password" formControlName="password" required>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="button" class="btn btn-primary px-4" (click)="login()" [disabled]="!loginForm.valid">Se connecter</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0 text-muted" >Mot de passe oublié ?</button>
                    </div>
                  </div>
                  <div class="form-group mt-2"  [hidden]="!isLoginFailed">
                    <div class="alert alert-danger" role="alert">
                      Un problème est survenu lors de votre tentative de connection
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
