<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form [formGroup]="loginForm">
                  <div class="d-flex justify-content-between p-2">
                    <img class="logo-login" [src]="logoSrc" [width]="logoWidth" [height]="logoHeight"/>
                  </div>
                  <p class="center-text text-muted">Veuillez vous connecter avec vos informations personnelles.</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Login *" autocomplete="username" formControlName="username" >
                  </div>
                  <div class="alert alert-danger mt-2" role="alert"
                  *ngIf="loginForm.get('username').hasError('required')
                    &&
                    (loginForm.get('username').dirty || loginForm.get('username').touched)">
                    Le login est obligatoire
                  </div>
                  <div class="alert alert-danger mt-2" role="alert"
                        *ngIf="loginForm.get('username').hasError('minLength')
                          &&
                          (loginForm.get('username').dirty || loginForm.get('username').touched)">
                    Le login doit contenir au moins 4 caractéres
                  </div>
                  <div class="input-group mb-4" *ngIf="step==='TYPE_PASSWORD'">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Mot de passe *" autocomplete="current-password" formControlName="password" required>
                  </div>
                  <div
                    class="alert alert-danger mt-2" role="alert"
                    *ngIf="loginForm.get('password').hasError('required')
                      &&
                      (loginForm.get('password').dirty || loginForm.get('password').touched)">
                      Le mot de passe est obligatoire
                  </div>
                  <div class="alert alert-danger mt-2" role="alert"
                      *ngIf="loginForm.get('password').hasError('minLength')
                        &&
                        (loginForm.get('password').dirty || loginForm.get('password').touched)">
                    Le mot de passe doit contenir au moins 8 caractéres
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="button" class="btn btn-primary px-4" (click)="nextStep()" *ngIf="step==='TYPE_LOGIN'" [disabled]="!isValidLogin()">Suivant</button>
                      <button type="button" class="btn btn-primary px-4" (click)="login()" *ngIf="step==='TYPE_PASSWORD'" [disabled]="!loginForm.valid">Se connecter</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0 text-muted" >Mot de passe oublié ?</button>
                    </div>
                  </div>
                  <div class="form-group mt-2"  *ngIf="isLoginFailed">
                    <div class="alert alert-danger" role="alert">
                      Un problème est survenu lors de votre tentative de connection
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
