<div class="modal-header">
    <h5 class="modal-title client-name">
      Ajouter un materiel
    </h5>
</div>
<div class="modal-body"  [formGroup]="materielsForm">
    <div class="row p-2">
        <label class="col-7 col-md-7 client-name">Nom :</label>
        <input type="text" class="form-control" placeholder="Nom du materiel" formControlName="nom">
        <span class="invalid-feedback d-block" *ngIf=
            "
            ((materielsForm.get('nom').dirty 
            ||
            materielsForm.get('nom').touched
            ) 
            &&
            (materielsForm.get('nom').hasError('required')))
            ">
            Veuillez saisir le nom du materiel
        </span>
    </div>
    <div class="row p-2">
        <label class="col-7 col-md-7 client-name">Description :</label>
        <input type="text" class="form-control" placeholder="Description du materiel" formControlName="description">
        <span class="invalid-feedback d-block" *ngIf=
            "
            ((materielsForm.get('description').dirty 
            ||
            materielsForm.get('description').touched
            ) 
            &&
            (materielsForm.get('description').hasError('required')))
            ">
            Veuillez saisir la description du materiel
        </span>
    </div>
    <div class="row p-2">
        <label class="col-7 col-md-7 client-name">Catégorie :</label>
        <select class="form-control" formControlName="categorie">
            <option value="Mobilier médical">Mobilier médical</option>
            <option value="Premiers secours - urgences">Premiers secours - urgences</option>
            <option value="Diagnostic médical">Diagnostic médical</option>
            <option value="Malettes médicales - Vêtements - Protection">Malettes médicales - Vêtements - Protection</option>
            <option value="Instrumentation médicale">Instrumentation médicale</option>
        </select>
    </div>
    <div class="row p-2">
        <label class="col-7 col-md-7 client-name">Potentiel :</label>
        <select class="form-control" formControlName="potentiel">
            <option value="A+">A+</option>
            <option value="A">A</option>
            <option value="B+">B+</option>
            <option value="B">B</option>
            <option value="C+">C+</option>
            <option value="C">C</option>
        </select>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default float-left" (click)="onClose()">Annuler</button>
    <button type="submit" class="btn btn-primary float-right" (click)="save()" [disabled]="!materielsForm.valid">Ajouter</button>
</div>
