<div class="row" [formGroup]="settingsForm">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Logo et Favicon :
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Logo réduit :</label>
                            <div class="custom-file mb-3">
                                <input type="file" class="form-control custom-file-input" id="favicon" accept="jpg,ico" (change)="favIconUpload($event)">
                                <label class="custom-file-label" #labelImportFavicon for="customFile">Choisir un logo réduit</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Logo :</label>
                            <div class="custom-file mb-3">
                                <input type="file" class="form-control custom-file-input" id="logo" accept="jpg,ico" (change)="logoUpload($event)">
                                <label class="custom-file-label" #labelImportLogo for="customFile">Choisir un Logo</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Couleurs et polices :
            </div>
            <div class="card-body" >
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Couleur du théme :</label>
                            <input type="color" class="form-control" formControlName="couleurTheme" (change)="onThemeChange()"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Couleur du menu selectionné :</label>
                            <input type="color" class="form-control" formControlName="couleurMenuSelectione" (change)="onThemeChange()"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Couleur de la police :</label>
                            <input type="color" class="form-control" formControlName="couleurPolice" (change)="onThemeChange()"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group float-right">
                            <button class="btn btn-primary m-2" type="button" (click)="saveConfigurationPersonalisee()">
                                Enregistrer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.col-->
</div><!--/.row-->