<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Logo et Favicon :
            </div>
            <div class="card-body">
                <div class="custom-file mb-3">
                    <input type="file" class="custom-file-input" id="customFile" name="filename" id="file"  accept="jpg,ico">
                    <label class="custom-file-label" #labelImport for="customFile">Choisir une Favicon</label>
                </div>
                <div class="custom-file mb-3">
                    <input type="file" class="custom-file-input" id="customFile" name="filename" id="file"  accept="jpg,ico">
                    <label class="custom-file-label" #labelImport for="customFile">Choisir un Logo</label>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group float-right">
                            <button class="btn btn-primary m-2" type="button">
                                Enregistrer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.col-->
</div><!--/.row-->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Couleurs et polices :
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Couleur du théme :</label>
                            <input type="color" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Couleur du menu selectionné :</label>
                            <input type="color" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Couleur de la police :</label>
                            <input type="color" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group float-right">
                            <button class="btn btn-primary m-2" type="button">
                                Enregistrer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.col-->
</div><!--/.row-->