<div class="container">
  <div class="row">

  <div class="col-md-6 offset-md-3">


   


<h1  style="background-color:rgb(80, 19, 248);"  ><p style="color:white;size:30px"  >Nouveau medecin</p></h1>
          <form [formGroup]="formMedecin" (ngSubmit)="onUpdate()">

            <label>
              <strong>  Nom et prénom </strong></label> <br>
              <input type="text" placeholder="nom prenom" style="color:red;left:400px;" formControlName="Nom">
           
          
           
          <br>
            <label><strong>Spécialité</strong></label>
            <select class="form-control"   formControlName="specialite">
              <option value="">liste de choix</option>
          
                <option value="General Medicine">General Medicine</option>
                <option value="Pharmacy">Pharmacy</option>
                <option value="Gynaecology">Gynaecology</option>
                <option value="Otorhinolaryngology">Otorhinolaryngology</option>
                <option value="Rheumatology">Rheumatology</option>
                <option value="Psychiatry">Psychiatry</option>
                <option value="Radiology">Radiology</option>
                <option value="Ophthalmology">Ophthalmology</option>
                <option value="Cardiology">Cardiology</option>
                <option value="Neurology">Neurology</option>
                <option value="Dermatology">Dermatology</option>
                <option value="Nephrology">Nephrology</option>
                <option value="Oncology">Oncology</option>
                <option value="Hospital Pharmacy">Hospital Pharmacy</option>
                <option value="Physical Medicine & Rehabilitation">Physical Medicine & Rehabilitation</option>
                <option value="Sage-Femme">Sage-Femme</option>
                <option value="Dental Surgery">Dental Surgery</option>
            </select>
          
          
          
            <label><strong>Etablissement</strong></label>
            <select class="form-control">
            </select>
          
          
          
          
            <label><strong>Secteur IMS</strong></label>
            <select class="form-control" formControlName="secteur">
                <option value="Agdal/Riad">Agdal/Riad</option>
                <option value="Hassan">Hassan</option>
                <option value="El-Youssoufia">El-Youssoufia</option>
                <option value="Yacoub El Mansour">Yacoub El Mansour</option>
                <option value="Souissi">Souissi</option>
            </select>
          
          
            
          
          
            <label><strong>Semaine</strong> </label>
            <select class="form-control">
            </select>
          
          
          
          
          
          
          
            <label><strong>Potentiel</strong></label>
            <select class="form-control" formControlName="potentiel">
                <option value="A+">A+</option>
                <option value="A">A</option>
                <option value="B+">B+</option>
                <option value="B">B</option>
                <option value="C+">C+</option>
                <option value="C">C</option>
            </select>
          
          <br>
          
          <button type="submit" class="btn btn-primary" routerLink="/medecins"  >enregistrer</button>
          
          <button class="btn btn-primary" routerLink="/medecins"  >fermer</button>
          
          
          
          </form>

     


</div>
</div>






