<div class="row">
    <div class="col-md-3 col-12">
        <div class="row mr-2">
            <div class="col-md-12 card border-radius-card">
                <div class="card-body">
                    <div class="initials-circle">AA</div>
                    <div [ngClass]="(getClassPotentiel('C')+'-card')">
                        <div class="potentiel-content-card potentiel-color d-flex justify-content-center">
                            <i class="fa fa-bullseye mt-1 mr-1"></i>
                            <span class="potentiel-text mr-1">C</span>
                        </div>
                    </div>
                    <h5 class="card-title">
                        <div class="row input-group">
                            <div class="col-10 col-md-12">
                                <span class="client-name">Dr. Adel Alvani</span>
                            </div>
                        </div>
                    </h5>
                    <div class="card-text">
                        <div class="row">
                            <div class="col-8 col-md-12 pr-0 pt-1">
                                <div class="input-group">
                                    <span><i class="icon-color fa fa-stethoscope mr-1"></i>Gynaecology</span>
                                </div>
                                <div class="input-group">
                                    <span><i class="icon-color fa fa-hospital-o mr-1"></i>Polyclinique Rabat</span>
                                </div>
                                <div class="input-group">
                                    <span><i class="icon-color fa fa-pie-chart mr-1"></i>Hassan Rabat</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="plus-circle">+</div>
                </div>
            </div>
        </div>
        <div class="row mr-2">
            <div class="col-md-12 card border-radius-card">
                <div class="card-body">
                    <h5 class="card-title">
                        <div class="row input-group">
                            <div class="col-10 col-md-12">
                                <span class="client-name">Echelle d'adoption</span>
                            </div>
                        </div>
                    </h5>
                    <div class="card-text">
                        <div class="row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mr-2">
            <div class="col-md-12 card border-radius-card">
                <div class="card-body">
                    <h5 class="card-title">
                        <div class="row input-group">
                            <div class="col-10 col-md-12">
                                <span class="client-name">Carte de visite</span>
                            </div>
                        </div>
                    </h5>
                    <div class="card-text">
                        <div class="row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9 col-12">
        <div class="row mr-2">
            <div class="col-md-12 card border-radius-card">
                <div class="card-body">
                    <h5 class="card-title">
                        <div class="row input-group">
                            <div class="col-10 col-md-12">
                                <span class="client-name">Historique</span>
                            </div>
                        </div>
                    </h5>
                    <tabset type="underline">
                        <tab>
                            <ng-template tabHeading>
                                <b class="tab-heading" [ngClass]="activeTab === 'Visites' ? 'tabs-underline' : ''" (click)="changeTab('Visites')">Visites</b>
                            </ng-template>
                            <div class="table-responsive">
                                <table id="table" class="table table-centered table-hover mb-0">
                                  <thead>
                                    <tr>
                                        <th scope="col">Délégué</th>
                                        <th scope="col">Date visite</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Statut</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngIf="visitesArray.length === 0">
                                        <td colspan="4">
                                            <span class="d-flex justify-content-center">Aucune visite planifiée</span>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let visite of visitesArrayPage">
                                        <td><span class="client-name">{{nomDelegue}}</span></td>
                                        <td>{{visite.dateDebut | date:'dd/MM/y'}}</td>
                                        <td>Solo</td>
                                        <td>
                                            <div class="status-planification-planifiee">
                                                <div class="d-flex justify-content-center">
                                                    <span class="status-planification-text">Planifiée</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <div class="d-flex justify-content-between p-2" [formGroup]="ficheMedecinForm">
                                  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="ficheMedecinForm.get(['pageSize']).value" (pageChange)="refreshVisites()">
                                  </ngb-pagination>
                                  <select class="custom-select" style="width: auto" formControlName="pageSize" (change)="refreshVisites()">
                                    <option [ngValue]="2">2 résultats par page</option>
                                    <option [ngValue]="4">4 résultats par page</option>
                                    <option [ngValue]="6">6 résultats par page</option>
                                  </select>
                                </div>
                            </div>
                        </tab>
                        <tab>
                            <ng-template tabHeading>
                                <b class="tab-heading" [ngClass]="activeTab === 'Matériel promotionnel' ? 'tabs-underline' : ''" (click)="changeTab('Matériel promotionnel')">Matériel promotionnel</b>
                            </ng-template>
                        </tab>
                        <tab>
                            <ng-template tabHeading>
                                <b class="tab-heading" [ngClass]="activeTab === 'Evénements' ? 'tabs-underline' : ''" (click)="changeTab('Evénements')">Evénements</b>
                            </ng-template>
                        </tab>
                        <tab>
                            <ng-template tabHeading>
                                <b class="tab-heading" [ngClass]="activeTab === 'Echantillons remis' ? 'tabs-underline' : ''" (click)="changeTab('Echantillons remis')">Echantillons remis</b>
                            </ng-template>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>