<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
  
  
  
  
                  
                
               <button type="button" class="btn btn-primary" (click)="openadd(ajouter)">Nouveau société</button>
                <div class="row">
                    <div class="col-md-12">
  
  
                        
                        
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive" >
                            <!--Vue mode liste-->
                            <table id="table" class="table table-centered table-hover m-1"   >
                              <thead>
                                <tr>

                                    <th scope="col">Nom</th>
                                   
                                     <th scope="col">action</th>
                                  
                                  
                                  
                                  
                                  </tr>
                              </thead>
                              <tbody
                                infinite-scroll
                                [infiniteScrollDistance]="scrollDistance"
                                [infiniteScrollUpDistance]="scrollUpDistance"
                                [infiniteScrollThrottle]="throttle"
                                (scrolled)="addItems()">
                              
                                <tr *ngFor="let societe of arrayPage ; let i = index">
                                    
                                    <td><span class="client-name">{{societe.nom}} </span></td>
                    
                                    
  
                                    <td>
  
                                        <button type="button"  class="fa fa-edit"   style="background-color:#EDF1FB  ;"   (click)="openup(societe ,modifier)"></button>
                                        <button type="button"  class="btn btn-primary"  class="fa fa-trash" style="background-color:#EDF1FB ;"   (click)="opensup(supprimer)"> </button>
                                    </td>
    
  
                                </tr>
                              </tbody>
  
  
                            </table>
                            
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.col-->



    <ng-template #supprimer let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title"></h4>
          
        </div>
        <div class="modal-body">
          <p>Êtes-vous sûr de vouloir supprimer cette société</p>
        </div>
        <div class="modal-footer">
          <button type="button"   class="btn btn-primary" (click)= "deletesociete(index); d('Cross click')">oui</button>
          <button type="button" class="btn btn-primary"  (click)= "d('Cross click')">non</button>
        </div>
      </ng-template>







      <ng-template #modifier let-c="close" let-d="dismiss" let-a="societe">
        <div class="modal-header"   style="background-color:rgb(80, 19, 248);">
          <h4 class="modal-title" id="modal-basic-title  " style="color:white"   >modifier société  </h4>
          
        </div>
        <div class="modal-body">
           
  
  
          <form [formGroup]="formupdate" (ngSubmit)="onSubmit()">
            <div class="form-group">
            <label>
              <strong>  Nom </strong></label> <br>
              <input type="text"   class="form-control"  formControlName="nom" >
              </div>
          

          <br>
            <button  class="btn btn-primary" (click)="update(societe) ;d('Cross click')">Enregistrer</button>
          
            <button class="btn btn-primary" (click)= "d('Cross click')">Fermer</button>
    
            
          
          </form>
  
  
        </div>
        <div class="modal-footer">
          Thinline
        </div>
      </ng-template>
      

      
     

      
      <ng-template #ajouter  let-c="close" let-d="dismiss" >
        <div class="modal-header"   style="background-color:rgb(80, 19, 248);">
          <h4 class="modal-title" id="modal-basic-title  " style="color:white"   >Ajouter société  </h4>
          
        </div>
        <div class="modal-body">
           
  
  
          <form [formGroup]="formadd" (ngSubmit)="onSubmit()">
            <div class="form-group">
            <label>
              <strong>  Nom </strong></label> <br>
              <input type="text" class="form-control"  formControlName="nom" >
          </div>
          <br>

          
            <button  class="btn btn-primary" (click)="add(societe) ;d('Cross click')">Enregistrer</button>
          
            <button class="btn btn-primary" (click)= "d('Cross click')">Fermer</button>
    
            
          
          </form>
  
  
        </div>
        <div class="modal-footer">
          Thinline
        </div>
      </ng-template>
      

      
     

      