<div class="row d-flex justify-content-center">
  <div class="card col-xl-5 col-md-12 m-2 ">
      <div class="card-body" id="chart-couverture-par-potentiel">
        <h5 class="card-title">Couverture par potentiel</h5>
        <apx-chart
          [series]="chartOptionsCouvertureParPotentiel.series"
          [chart]="chartOptionsCouvertureParPotentiel.chart"
          [xaxis]="chartOptionsCouvertureParPotentiel.xaxis"
          [stroke]="chartOptionsCouvertureParPotentiel.stroke"
          [tooltip]="chartOptionsCouvertureParPotentiel.tooltip"
          [dataLabels]="chartOptionsCouvertureParPotentiel.dataLabels"
        ></apx-chart>
      </div>
  </div>
  <div class="card col-xl-5 col-md-12 m-2">
      <div class="card-body" id="chart-visite-par-jour">
        <h5 class="card-title">Nombre de visites par jour</h5>
        <apx-chart
          [series]="chartOptionsVisiteParJour.series"
          [chart]="chartOptionsVisiteParJour.chart"
          [xaxis]="chartOptionsVisiteParJour.xaxis"
          [stroke]="chartOptionsVisiteParJour.stroke"
          [tooltip]="chartOptionsVisiteParJour.tooltip"
          [dataLabels]="chartOptionsVisiteParJour.dataLabels"
        ></apx-chart>
      </div>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="card col-xl-5 col-md-12 m-2">
      <div class="card-body" id="chart-visite-par-spécialité-par-jour">
        <h5 class="card-title">Nombre de visite par spécialité par jour</h5>
        <apx-chart
          [series]="chartOptionsVisiteParSpecialiteParJour.series"
          [chart]="chartOptionsVisiteParSpecialiteParJour.chart"
          [xaxis]="chartOptionsVisiteParSpecialiteParJour.xaxis"
          [stroke]="chartOptionsVisiteParSpecialiteParJour.stroke"
          [tooltip]="chartOptionsVisiteParSpecialiteParJour.tooltip"
          [dataLabels]="chartOptionsVisiteParSpecialiteParJour.dataLabels"
        ></apx-chart>
      </div>
  </div>
  <div class="card col-xl-5 col-md-12 m-2">
    <div class="card-body">

    </div>
  </div>
</div>