// Thinline custom css
.sidebar {
    display: flex;
    flex-direction: column;
    padding: 0;
    color: #fff;
    background: #611bf3;
}

.sidebar .nav-link.active {
    color: #fff;
    background: #4c19cb;
}

.sidebar .nav-link:hover {
    color: #fff;
    background: #4c1aca;
    border-color: #5b288e;
}

.sidebar-minimized .sidebar .sidebar-minimizer {
    position: fixed;
    bottom: 0;
    width: 50px;
    height: 50px;
    background-color: #4c19cb;
}

.sidebar .nav-link .nav-icon {
    display: inline-block;
    width: 1.09375rem;
    margin: 0 0.5rem 0 0;
    font-size: 0.875rem;
    color: #fff;
    text-align: center;
}

.sidebar .nav-link.active .nav-icon {
    color: #fff;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: auto;
}

.btn-primary {
    color: #fff;
    background-color: #4c19cb;
    border-color: #5c2ed1;
    border-radius: 1rem;
}

.btn-primary:hover {
    background-color: #4c1aca;
    border-color: #5b288e;
}

.btn-primary:focus {
    background-color: #4c1aca;
    border-color: #5b288e;
}

.potentiel_red {
    position: absolute;
    top: 52%;
    // left: 50%;
    width: 91px;
    height: 40px;
    background: transparent url('../assets/img/icons/rectangle.svg') 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
}

.potentiel_inside {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    background: transparent url('../assets/img/icons/Groupe 4523.svg') 0% 0% no-repeat padding-box;
    opacity: 1
}

.logo-login {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-text {
    text-align: center;
}

@media (min-width: 1200px) {
    .container {
        max-width: 800px;
    }
}

.app-body .main {
    background-color: #F3F6F9;
}

@media (min-width: 992px) {
    .sidebar-minimized .sidebar .nav-item:hover>.nav-link {
        background: #4c1aca;
    }
}

.form-control {
    border-radius: 1rem;
}

.page-item.active .page-link {
    background-color: #4c1aca;
    border-color: #4c1aca;;
}

.view-mode-not-selected {
    cursor: pointer;
    color: gray;
}

.view-mode-selected {
    color: black;
}

.selected-item {
    background-color: #f3f6f9;
}

.not-selected-item {
    background-color: #ffffff;
}