@import 'theme';
@import 'function';

// Thinline custom css
.sidebar {
    display: flex;
    flex-direction: column;
    padding: 0;
    color: var(--policeColor);
    background: var(--themeColor);
}

.sidebar .nav-link.active {
    color: var(--policeColor);
    background: var(--selectedElementColor);
}

.sidebar .nav-link:hover {
    color: var(--policeColor);
    background: var(--selectedElementColor);
}

.sidebar-minimized .sidebar .sidebar-minimizer {
    position: fixed;
    bottom: 0;
    width: 50px;
    height: 50px;
    background-color: var(--themeColor);
}

.sidebar .nav-link .nav-icon {
    display: inline-block;
    width: 1.09375rem;
    margin: 0 0.5rem 0 0;
    font-size: 0.875rem;
    color: var(--policeColor);
    text-align: center;
}

.sidebar .nav-link.active .nav-icon {
    color: var(--policeColor);
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: auto;
}

.btn-primary {
    color: var(--policeColor);
    background-color: var(--themeColor);
    border-radius: 1rem;
}

.btn-primary.hover, .btn-primary:hover {
    background-color: var(--selectedElementColor);
    border-color: #ffffff;
}

.btn-primary.focus, .btn-primary:focus {
    background-color: var(--selectedElementColor);
    border-color: #ffffff;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: var(--selectedElementColor);
    border-color: #ffffff;
    cursor: not-allowed;
}

.logo-login {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-text {
    text-align: center;
}

@media (min-width: 1200px) {
    .container {
        max-width: 800px;
    }
}

.app-body .main {
    background-color: #F3F6F9;
}

@media (min-width: 992px) {
    .sidebar-minimized .sidebar .nav-item:hover>.nav-link {
        background: var(--selectedElementColor);
    }
}

.form-control {
    border-radius: 1rem;
}

.border-radius-card {
    border-radius: 1rem;
}

.page-item.active .page-link {
    background-color: var(--selectedElementColor);
    border-color: var(--selectedElementColor);;
}

.view-mode-not-selected {
    cursor: pointer;
    color: gray;
}

.view-mode-selected {
    color: black;
}

.selected-item {
    background-color: #f3f6f9;
}

.not-selected-item {
    background-color: #ffffff;
}

.badge-info {
    color: #23282c;
    background-color: #ffffff;
}

.client-name {
    font-weight: bold;
    color : var(--selectedElementColor);
}

.icon-color {
    color : var(--selectedElementColor);
}

/** Style potentiels **/
    
.potentiel-color {
    color :  #ffffff;
}

.potentiel-content {
    padding-top: 0.25rem;
    padding-left: 1.5rem;
}

.potentiel-text {
    font-weight: bold;
}

.potentiel-A-plus {
    height: 2rem;
    width: 5rem;
    background-color:#1AF330;
    border-radius: 1rem;
}

.potentiel-A {
    height: 2rem;
    width: 5rem;
    background-color: #1af37f;
    border-radius: 1rem;
}

.potentiel-B-plus {
    height: 2rem;
    width: 5rem;
    background-color: #F3951A;
    border-radius: 1rem;
}

.potentiel-B {
    height: 2rem;
    width: 5rem;
    background-color: #F3D61A;
    border-radius: 1rem;
}

.potentiel-C-plus {
    height: 2rem;
    width: 5rem;
    background-color: #cf675b;
    border-radius: 1rem;
}

.potentiel-C {
    height: 2rem;
    width: 5rem;
    background-color: #F3291A;;
    border-radius: 1rem;
}


@media only screen and (min-width:481px) {
    .card-margin {
        justify-content: space-evenly;
    }

    .potentiel-content-card {
        padding-top: 2.2rem;
        padding-left: 0.85rem;
    }

    .semaine-content-card {
        padding-top: 2.2rem;
        padding-left: 0.85rem;
    }

    .potentiel-A-plus-card {
        height: 6rem;
        width: 3.75rem;
        background-color:#1AF330;
        border-radius: 1rem;
    }
    
    .potentiel-A-card {
        height: 6rem;
        width: 3.75rem;
        background-color: #1af37f;
        border-radius: 1rem;
    }
    
    .potentiel-B-plus-card {
        height: 6rem;
        width: 3.75rem;
        background-color: #F3951A;
        border-radius: 1rem;
    }

    .potentiel-B-card {
        height: 6rem;
        width: 3.75rem;
        background-color: #F3D61A;
        border-radius: 1rem;
    }

    .potentiel-C-plus-card {
        height: 6rem;
        width: 3.75rem;
        background-color: #cf675b;
        border-radius: 1rem;
    }

    .potentiel-C-card {
        height: 6rem;
        width: 3.75rem;
        background-color: #F3291A;
        border-radius: 1rem;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px)  { 
    .card-margin {
        margin-left: 0rem;
        margin-right: 0rem;
        justify-content: center;
    }
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
    .semaine-content-card {
        padding-top: 0.25rem;
        padding-left: 1.5rem;
    }

    .potentiel-content-card {
        padding-top: 0.25rem;
    }

    .potentiel-A-plus-card {
        height: 2rem;
        width: 14rem;
        background-color:#1AF330;
        border-radius: 1rem;
    }

    .potentiel-A-card {
        height: 2rem;
        width: 14rem;
        background-color: #1af37f;
        border-radius: 1rem;
    }
    
    .potentiel-B-plus-card {
        height: 2rem;
        width: 14rem;
        background-color: #F3951A;
        border-radius: 1rem;
    }
    
    .potentiel-B-card {
        height: 2rem;
        width: 14rem;
        background-color: #F3D61A;
        border-radius: 1rem;
    }
    
    .potentiel-C-plus-card {
        height: 2rem;
        width: 14rem;
        background-color: #cf675b;
        border-radius: 1rem;
    }
    
    .potentiel-C-card {
        height: 2rem;
        width: 14rem;
        background-color: #F3291A;
        border-radius: 1rem;
    }
}

.table thead th {
    background-color: #f3f6f9;
}

.tab-content {
    margin-top: 8px;
    background: #fff;
    border: 0px solid #c8ced3 !important;
}

.tab-heading-selected {
    color : var(--themeColor);
}