<div class="modal-header">
    <h5 class="modal-title client-name">
      Veuillez confirmer votre sélection ainsi que les horaires suggérés !
    </h5>
</div>
<div class="modal-body">
    <div class="row p-2">
        <label class="col-md-7 client-name">6 planifications poure le :</label>
        <input type="date" class="form-control col-md-5" placeholder="JJ/MM/AAAA">
    </div>
    <div class="row p-2">
        <span class="col-md-5 client-name">Dr.Aaberg Elbertina</span>
        <i class="icon-color fa fa-trash-o col-md-2"></i>
        <input type="time" class="form-control col-md-5"/>
    </div>
    <div class="row p-2">
        <span class="col-md-5 client-name">Dr.Aaberg Elbertina</span>
        <i class="icon-color fa fa-trash-o col-md-2"></i>
        <input type="time" class="form-control col-md-5"/>
    </div>
    <div class="row p-2">
        <span class="col-md-5 client-name">Dr.Aaberg Elbertina</span>
        <i class="icon-color fa fa-trash-o col-md-2"></i>
        <input type="time" class="form-control col-md-5"/>
    </div>
    <div class="row p-2">
        <span class="col-md-5 client-name">Dr.Aaberg Elbertina</span>
        <i class="icon-color fa fa-trash-o col-md-2"></i>
        <input type="time" class="form-control col-md-5"/>
    </div>
    <div class="row p-2">
        <span class="col-md-5 client-name">Dr.Aaberg Elbertina</span>
        <i class="icon-color fa fa-trash-o col-md-2"></i>
        <input type="time" class="form-control col-md-5"/>
    </div>
    <div class="row p-2">
        <span class="col-md-5 client-name">Dr.Aaberg Elbertina</span>
        <i class="icon-color fa fa-trash-o col-md-2"></i>
        <input type="time" class="form-control col-md-5"/>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default float-left" data-dismiss="modal">Annuler</button>
    <button type="submit" class="btn btn-primary float-right">Planifier</button>
</div>